<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneLineCommentPrefix</key>
	<string>#</string>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.5</real>
				<real>0.2</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>and</string>
				<string>as</string>
				<string>assert</string>
				<string>break</string>
				<string>class</string>
				<string>continue</string>
				<string>def</string>
				<string>del</string>
				<string>elif</string>
				<string>else</string>
				<string>except</string>
				<string>exec</string>
				<string>finally</string>
				<string>for</string>
				<string>from</string>
				<string>global</string>
				<string>if</string>
				<string>import</string>
				<string>in</string>
				<string>is</string>
				<string>lambda</string>
				<string>not</string>
				<string>or</string>
				<string>pass</string>
				<string>print</string>
				<string>raise</string>
				<string>return</string>
				<string>try</string>
				<string>while</string>
				<string>with</string>
				<string>yield</string>
				<string>None</string>
				<string>True</string>
				<string>False</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>#</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>py</string>
	</array>
</dict>
</plist>
